{% extends 'base.html' %}
{% block page_title %}Main Page{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <label>Sala:&nbsp&nbsp<input type="text" name="name"></label><br>
        <label>Pojemność sali:&nbsp&nbsp<input type="number" name="capacity"></label><br>
        <label>Dostępność rzutnika:&nbsp&nbsp
            <input type="radio" name="projector" value="True">Tak&nbsp&nbsp
            <input type="radio" name="projector" value="False">Nie
        </label><br>
        <input type="submit" value="Dodaj salę">
    </form>
{% endblock %}